<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="../../css/base.css" rel="stylesheet">
    <link href="../../css/quasar.css" rel="stylesheet">

    <link href="./inject.css" rel="stylesheet">

    <style>
        body {
            background: none;
        }

        .lnbits-overlay {
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            z-index: 1000;
            opacity: 0;
        }

        .lnbits-wrapper {
            z-index: 1010;
        }
    </style>
</head>

<body>
    <div id="lnbits-overlay" class='lnbits-overlay'></div>
    <div class='lnbits-wrapper'>
        <div id="content">
        </div>
    </div>
    <script src="./content.js"></script>
    <script src="./inject.js"></script>
</body>

</html>